{erl_opts, [debug_info,{i,"include"},{i,"/home/joq62/erlang/infra/api_repo"}]}.

{deps, [
       
     	
       {log_service,{git,"https://github.com/joq62/log_service.git", {branch,"main"}}},	       
       {cmn_service,{git,"https://github.com/joq62/cmn_service.git", {branch,"main"}}},		
       {sd_service,{git,"https://github.com/joq62/sd_service.git",{branch,"main"}}}
       						   
       ]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [test_appl]}
]}.

{project_plugins, [covertool, grpcbox_plugin]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.


{ct_opts, [{sys_config, "config/test.config"},
           %% generate junit xml report from test results
           {ct_hooks, [cth_surefire]}]}.

{overrides, [{override, base32, [{plugins, []}]}]}.

{xref_checks,[undefined_function_calls, undefined_functions, %% locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

